@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-pantone: #d32f2f;
  --baby-powder: #FCFFF7;
  --non-photo-blue: #A8DADC
  --cerulean: #457b9d;
  --berkeley-blue: #1D3557;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}
